 .u-section-1 {
  background-image: url("images/3f564af1c183fa8950525fe07d4b1a6d.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 757px;
}

.u-section-1 .u-group-1 {
  min-height: 240px;
  margin: 487px auto 30px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 0 0 20px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.25rem;
  margin: 20px 0 0 20px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 185px;
  min-width: 121px;
  margin: 39px 0 20px auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-1 .u-social-icons-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 511px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 110px 0;
}

.u-section-2 .u-image-1 {
  min-height: 319px;
  background-image: url("images/eebaeb07095686f5ecd2355470a0197d.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 319px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 30px 60px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 60px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 40px;
  width: 40px;
  margin: 30px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-top: 55px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 49px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 49px;
  }

  .u-section-2 .u-icon-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 38px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 28px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 18px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/6cf230113b66459aeef36067ab210d13-10.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 785px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 160px auto 160px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 114px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 700;
  margin: 10px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 137px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 15px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 137px;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 15px 20px 0;
}

.u-section-3 .u-layout-cell-4 {
  background-image: none;
  min-height: 244px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  display: block;
  margin: 10px auto 0;
}

.u-section-3 .u-text-4 {
  letter-spacing: 3px;
  margin: 30px 0 10px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 244px;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  display: block;
  margin: 10px auto 0;
}

.u-section-3 .u-text-5 {
  width: 203px;
  letter-spacing: 3px;
  margin: 30px auto 10px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 244px;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  display: block;
  margin: 10px auto 0;
}

.u-section-3 .u-text-6 {
  width: 203px;
  letter-spacing: 3px;
  margin: 30px auto 10px;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 244px;
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-7 {
  width: 203px;
  letter-spacing: 3px;
  margin: 30px auto 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-5 {
    width: 167px;
    position: relative;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-6 {
    width: 167px;
    position: relative;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-7 {
    width: 167px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-text-5 {
    width: 128px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-text-6 {
    width: 128px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-text-7 {
    width: 128px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-text-5 {
    width: 120px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-text-6 {
    width: 120px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-text-7 {
    width: 120px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-5 {
    width: 101px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-6 {
    width: 101px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-7 {
    width: 101px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1361px;
}

.u-section-4 .u-group-1 {
  width: 1026px;
  min-height: 175px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 700;
  margin: 18px 20px 0 0;
}

.u-section-4 .u-icon-1 {
  height: 39px;
  width: 39px;
  margin: 9px auto 15px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 23px auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 340px;
  background-image: url("images/5eb791a8fbc1d91dcd1cd0a4bb4d714d.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-2 {
  min-height: 340px;
  background-image: url("images/c72e979207d309d128bb5947db0853d9.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  min-height: 340px;
  background-image: url("images/575fe9f5583a776588282dc525a72e40.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-4 {
  min-height: 340px;
  background-image: url("images/4e6efdadd855aa39763dd003204216f0.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-image-5 {
  min-height: 340px;
  background-image: url("images/e5850e6c1f22ed52ec030017bb0b675a.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-6 {
  min-height: 340px;
  background-image: url("images/46a71c4145a2b170297ee86a43f9292a.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-7 {
  min-height: 340px;
  background-image: url("images/0df4163c2685d4deddeb4913806ad4de.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-8 {
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 846px;
    position: relative;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-4 .u-icon-1 {
    position: relative;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 648px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 18px;
    padding-right: 18px;
  }
} .u-section-5 {
  background-image: url("images/1fa49d59e254cd7db215a39e389af7da.jpeg");
  background-position: 50% 100%;
}

.u-section-5 .u-sheet-1 {
  min-height: 678px;
}.u-section-6 .u-sheet-1 {
  min-height: 477px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 414px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 7px;
  margin: 35px 10px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 18px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 0 36px 0 0;
}

.u-section-6 .u-form-1 {
  height: 171px;
  margin: 40px 385px 35px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 7px 30px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/84e9ed24af03c0f03e6317a60bdb6501.jpeg");
  min-height: 414px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-right: 8px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-right: 15px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-right: 30px;
  }

  .u-section-6 .u-form-1 {
    position: relative;
    width: 672px;
    margin-right: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 23px;
  }

  .u-section-6 .u-form-1 {
    width: 638px;
    margin-right: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 5px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 17px;
  }

  .u-section-6 .u-form-1 {
    width: 376px;
    margin-right: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 3px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 5px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 11px;
  }

  .u-section-6 .u-form-1 {
    width: 316px;
    margin-right: 115px;
  }
} .u-section-7 {
  background-image: url("images/6cf230113b66459aeef36067ab210d13.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 518px;
}

.u-section-7 .u-group-1 {
  width: 739px;
  min-height: 114px;
  margin: 68px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 7px;
  margin: 6px 20px 0 0;
}

.u-section-7 .u-icon-1 {
  height: 39px;
  width: 39px;
  margin: 15px auto 6px 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px auto 50px 0;
}

.u-section-7 .u-image-1 {
  min-height: 263px;
  background-image: url("images/9de16989c68ff3b69037066390774ecf.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-image-2 {
  min-height: 263px;
  background-image: url("images/3a74272a4d42cc06fd8eaca6663493d1.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-image-3 {
  min-height: 263px;
  background-image: url("images/939518149137318dc93982b66c04952f.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-image-4 {
  min-height: 263px;
  background-image: url("images/2537b42cb20cbf065bc34f14bbc290ff.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 609px;
    position: relative;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-7 .u-icon-1 {
    position: relative;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 467px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 438px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }
}